@charset "UTF-8";


/* Mobile First */

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root{
    --bg-mb:#5f2c82;
    --green:#49a09d;
}

html{
    background-color: var(--bg-mb);
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* Login como um todo */
#login{
    position: absolute;
    background-color: white;
    width: 80vw;
    height: 600px;
    border-radius: 20px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

    /* Imagem no login */
    #login > div#imagem{
        background: var(--bg-mb) url(../imgs/metal.jpg)no-repeat;
        background-position: center center;
        background-size: cover;
        height: 250px;  
        display: block;
    }

  
    /* Onde conterá o formulário */
    #cadastro{
        display: block;
        padding: 15px;
    }

        #cadastro h1{
            font-size: 1.8em;
            font-weight: bolder;
            padding-bottom: 15px;
            text-align: center;
        }


        section#login > #cadastro > aside{
            text-align: justify;
            font-size: 0.8em;
        }

        /* Caixas de input de email e senha */

        form > div.campo{
            background-color: #5f2c82;
            border-radius: 5px;
            transform: translate(0, 7px);
            height: 42px;
            margin: 5px 0px;
        }

        form > div.campo > .botton{
            padding:11px;
            border-radius: 10px;
            width: 85%;
            outline: none;
        }

        div.campo > label{
            display: none;
        }

        div.campo > i{
            color: white;
        }

        input#ilogin{
            background-color: #E3F0F8;
        }

        input#isenha{
            background-color: #91CEC7;
        }


        /* Botões de Enviar e de esqueçeu senha */
        form > input[type=submit] {
            display: block;
            width: 100%;
            height: 40px;
            color: white;
            background-color: #499792;
            border-radius: 5px;
            border: none;;
            transform: translate(0, 30px);
            font-size: 1em;
            cursor: pointer;
        }

            form > input[type=submit]:hover{
                background-color: #346663;
            }

        form > .botao{
            display: block;
            width: 100%;
            height: 40px;
            padding-top: 5px;
            color: rgb(134, 133, 133);
            text-decoration: none;
            border: 2px solid rgb(197, 197, 197);
            text-align: center;
            border-radius: 5px;
            transform: translate(0, 35px);
            font-size: 1em;
        }

            form > .botao:hover{
                background-color: #6cd3cf;
            }

            form > .botao > i{
                font-size: 1em;
                transform: translate(0,3px);
                position: relative;
            }

        
        

