@charset "UTF-8";


/* Mobile First */

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root{
    --bg-mb:#5f2c82;
    --green:#49a09d;
}

html{
    background-color: var(--bg-mb);
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#login{
    position: absolute;
    background-color: white;
    text-align: center;
    width: 70vw;
    height: 600px;
    border-radius: 20px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
}

    #login > div#imagem{
        background: var(--bg-mb) url(../imgs/metal.jpg)no-repeat;
        background-position: center center;
        background-size: cover;
        height: 250px;  
        display: block;
    }

  

    #cadastro{
        display: block;
        padding: 15px;
    }

        #cadastro h1{
            font-size: 1.8em;
            font-weight: bolder;
            padding-bottom: 15px;
        }


        #cadastro aside{
            text-align: justify;
        }

